<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Split Screen</title>

      <!-- <link href="normalize.css" rel="stylesheet">
      <link href="style.css" rel="stylesheet"> -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

</head>
<body>


      <div class="wrapper">

            <div class="side left">
                  <div class="image entrepreneur"></div>
                  <div class="caption">
                        <h1>Realize My Dreams</h1>
                        <a class="button" href="#">I'm An Entrepreneur</a>
                  </div>
            </div>

            <div class="side right">
                  <div class="image investor"></div>
                  <div class="caption">
                        <h1>Grow my wealth</h1>
                        <a class="button" href="#">I'm An Investor</a>
                  </div>
            </div>
      </div>

      
</body>
</html>